<html ng-app="statsApp">
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
   </head>

   <body ng-controller="StatsController">
      <div class="container-fluid">
   	<h1>Future home of QuidStasio</h1>
      <table class="table table-striped">
         <thead>
            <th>NAME</th>
            <th>SHOTS</th>
            <th>GOALS</th>
            <th>ASSISTS</th>
            <th>TURNOVERS</th>
            <th>TAKEAWAYS</th>
            <th>YELLOW CARDS</th>
            <th>RED CARDS</th>
            <th>SNITCHES</th>
            <th>PLUSSES</th>
            <th>MINUSES</th>
            <th>TIME</th>
         </thead>
         <tbody>
   	<% @players_from_team.each do |player| %>
      <% stats = @raw_stats_map.fetch(player["objectId"], nil) %>
      <% if !stats.nil? %>
         <tr>
            <td> <%= "#{player['fname']} #{player['lname']}"%> </td>
            <td><div class='text-center'> <%= stats["shot"]%> </div> </td>
            <td><div class='text-center'> <%= stats["goal"]%> </div> </td>
            <td><div class='text-center'> <%= stats["assist"]%> </div> </td>
            <td><div class='text-center'> <%= stats["turnover"]%> </div> </td>
            <td><div class='text-center'> <%= stats["takeaway"]%> </div> </td>
            <td><div class='text-center'> <%= stats["yellow_card"]%> </div> </td>
            <td><div class='text-center'> <%= stats["red_card"]%> </div> </td>
            <td><div class='text-center'> <%= stats["snitch_catch"]%> </div> </td>
            <td><div class='text-center'> <%= stats["plusses"]%> </div> </td>
            <td><div class='text-center'> <%= stats["minuses"]%> </div> </td>
            <td><div class='text-center'> <%= @r.getTimeFromMilliPretty(stats["time"])%> </div> </td>
         </tr>
      <% end %>
   	<% end %>
      <tr class='total'>
         <td> <div> TOTALS </div> </td>
         <td><div class='text-center'> <%= @totals['shot']%> </div> </td>
         <td><div class='text-center'> <%= @totals['goal']%> </div> </td>
         <td><div class='text-center'> <%= @totals['assist']%> </div> </td>
         <td><div class='text-center'> <%= @totals['turnover']%> </div> </td>
         <td><div class='text-center'> <%= @totals['takeaway']%> </div> </td>
         <td><div class='text-center'> <%= @totals['yellow_card']%> </div> </td>
         <td><div class='text-center'> <%= @totals['red_card']%> </div> </td>
         <td><div class='text-center'> <%= @totals['snitch_catch']%> </div> </td>
         <td><div class='text-center'> <%= @totals['plusses']%> </div> </td>
         <td><div class='text-center'> <%= @totals['minuses']%> </div> </td>
         <td><div class='text-center'> <%= @r.getTimeFromMilliPretty(@totals['time'])%> </div> </td>
   </tbody>
      </table>
   </div>    
   </body>
</html>