<div ng-init="init('<%=@public%>', '<%=@author_id%>', '<%=@team_id%>', '<%=@vid_id%>', '<%=@vid_year%>', '<%=@player_id%>', '<%=@filter%>')" name="header" class="container-fluid text-center">
	<!-- Team Selector -->
	<select ng-hide="<%= @public %>" name="teamSelect" ng-model="team" ng-change="getAllGames()">
		<option value="">Select a team</option>
		<% @teams.each do |team| %>
		<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
		<%end%>
	</select>
	<!-- Video Selector and allPlayers populator--> 
	<select ng-hide="<%= @public %>" ng-model="vidObj" ng-change="getAllPlayers()" ng-options="game.vid_id+','+game.fall_year as game.description for game in allGames">
    </select>
    <div ng-show="vidObj" class="pull-right">
        <label ng-show="statsPublic" for="pubLabel">Public</label>
        <label ng-show="!statsPublic" for="pubLabel">Private</label>
    </div>
    <div ng-show="vidObj" class="material-switch pull-right">
        <input ng-model="statsPublic" ng-change="togglePublic()" type="checkbox" id="unchecked" class="cbx hidden"/>
        <label id="pubLabel" for="unchecked" class="lbl"></label>
	</div>
</div>

<!-- Video player object -->
<div id="vidContainer" align="center">
	<div id="scoreboard">
		<div class="score">
			<p>HOME</p>
			<p ng-model="homeScore">{{homeScore}}</p>
		</div>
		<div class="score">
			<p>AWAY</p>
			<p ng-model="awayScore">{{awayScore}}</p>
		</div>
	</div>

	<div class="container-fluid video" align="center">
		<youtube-video video-id="selectedVideo" player="videoPlayer" class="embed-responsive-item" player-width="'100%'"></youtube-video>
	</div>

	<div class="container-fluid">
		<div id="statsList">
			<div class="statsListItem" ng-repeat="statObj in allStats" scroll-glue="glued">
				<p ng-show="statObj.player_name != 'null' && (statObj.stat_name != 'SUB' && statObj.stat_name != 'SWAP')">{{statObj.player_name}}</p>

				<p ng-show="statObj.player_name != 'null' && (statObj.stat_name == 'SUB' || statObj.stat_name == 'SWAP')"> <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> {{statObj.player_name}}</p>

				<p ng-show="statObj.stat_name == 'SUB' || statObj.stat_name == 'SWAP'"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>{{statObj.player_in_name}}</p>

				<p>{{statObj.stat_name | statNameFilter}}</p>

				<div class="timeOnStatColumn">
					<!-- <p ng-click="adjustTime(-1, statObj.time, statObj.objectId)">-</p> -->
					<p ng-click="seekToTime(statObj.stat_name, statObj.time)">{{statObj.time | time:'ss':'mm:ss'}}</p>
					<!-- <p ng-click="adjustTime(1, statObj.time, statObj.objectId)">+</p> -->
				</div>
				<button ng-hide="<%= @public %>" class="btn btn-danger btn-xs" ng-click="deleteStat(statObj.objectId)">Delete</button>
			</div>
		</div>
		<!-- <button class="btn btn-xs" ng-click="glued=!glued">Toggle auto-scroll {{glued}}</button> -->
		<div class="filter">
			<select ng-model="playerFilter" ng-change="filterEvents()">
				<option value="allPlayers">All Players</option>
				<option ng-repeat="player in allPlayers" value="{{player.objectId}}">{{player.first_name + ' ' + player.last_name}}</option>
			</select>
		</div>
		<div class="filter">
			<select ng-model="eventFilter" ng-change="filterEvents()">
				<option value="allEvents">All Events</option>
				<option value="SHOT">Shots</option>
				<option value="GOAL">Goals</option>
				<option value="ASSIST">Assists</option>
				<option value="TAKEAWAY">Takeaway</option>
				<option value="TURNOVER">Turnover</option>
				<option value="SUB">Sub</option>
				<option value="AWAY_GOAL">Away Goals</option>
			</select>
		</div>
	</div>
</div>



<!-- Buttons under the video -->
<div class="container-fluid" align="center">
	<button class="btn btn-default" ng-click="instantReplay()">Instant Replay</button>
	<button class="btn btn-default" ng-click="addStat(null, null, 'START_CLOCK')">Game (Re)Start</button>
	<button class="btn btn-default" ng-click="addStat(null, null, 'PAUSE_CLOCK')">Game Stoppage</button>
	<button class="btn btn-default" ng-click="addCard('YELLOW_CARD')" style="background-color:yellow;">Yellow Card</button>
	<button class="btn btn-default" ng-click="addCard('RED_CARD')" style="color:white; background-color:red;">Red Card</button>
	<button class="btn btn-default" ng-click="addStat(null, null, 'AWAY_GOAL')">Away Goal</button>
	<button class="btn btn-default" ng-click="addStat(null, null, 'SEEKERS_RELEASED')">Seekers Released</button>
	<button class="btn btn-default" ng-click="addStat(null, null, 'AWAY_SNITCH_CATCH')">Opponent snitch catch</button>
	<button class="btn btn-default" ng-click="getURLWithFilters('<%=@author_id%>')" ng-if="statsPublic">Get Filters URL</button>
</div>

<!-- Players on pitch -->
<div class="container playersOnPitch">
	<div class="playerListHolder" ng-repeat="onPlayer in onFieldPlayers track by $index">
		<ul class="playerList">
			<div ng-show="$index < 3 || $index == 3">
				<h5 ng-show="$index < 3">Chaser</h5>
				<h5 ng-show="$index == 3">Keeper</h5>
				<a href = "javascript:void(0)" ng-click="startSub(onPlayer.objectId)">{{onPlayer.first_name+' '+onPlayer.last_name}}</a>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'SHOT')">Shot</li>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'GOAL')">Goal</li>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'ASSIST')">Assist</li>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TAKEAWAY')">Takeaway</li>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TURNOVER')">Turnover</li>
			</div>

			<div ng-show="$index > 3 && $index < 6">
				<h5>Beater</h5>
				<a href = "javascript:void(0)" ng-click="startSub(onPlayer.objectId)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">{{onPlayer.first_name+' '+onPlayer.last_name}}</a>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TAKEAWAY')">Takeaway</li>
			</div>

			<div ng-show="$index == 6">
				<h5>Seeker</h5>
				<a href = "javascript:void(0)" ng-click="startSub(onPlayer.objectId)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">{{onPlayer.first_name+' '+onPlayer.last_name}}</a>
				<li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'SNITCH_CATCH')">Snitch Catch</li>
			</div>
		</ul>
	</div>
</div>

<div id="helpText" class="white_content">
	<a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
	<h4>This page is for recording stats for a given game.</h4>
	<h5>1. Select a team from the dropdown menu. Then, the next dropdown will automatically populate with all the games stored for that particular team.</h5>
	<p>Don't see the game you want? Try adding it using the 'Add Video' tab</p>
	<h5>2. Once your game is selected, the video will automatically load, as will some players.</h5>
	<h5>3. If this is the first time you are taking stats on a game, the players that load will be 'chaserA', 'chaserB', and so on. Those are dummy players.</h5>
	<h5>4. Now that everything has loaded, it's time to take stats.</h5>
	<p>Adding a stat will automatically pause the video. Just go with it for now. If you hate it, let me know. I'm undecided on if it's a good thing or not.</p>
	<p>a. Click on each dummy player, and sub in the starter at that position. Don't sub in a seeker yet.</p>
	<p>b. Now start the video, and use 'Game (Re)Start' to start the game time on 'Brooms Up'. This button is also used after each stoppage of play, to indicate that the game clock is running.</p>
	<p>c. Record each stat as they happen, when they happen in the video. Stats are added at the time on the youtube video. If you miss something, rewind the video, and add the stat when it happens.</p>
	<p>d. When the clock stops, either for penalty or other reason, use the 'Game Stoppage' button. Use 'Game (Re)start' when the clock starts again.</p>
	<p>e. Away goal means the other team scored.</p>
	<p>f. Seekers released is the end of the seeker floor. After selecting 'seekers released', sub in the seeker for the dummy player named 'Seeker'</p>
	<p>g. Opponent snitch catch, it means they caught the snitch. This will automatically add a 'Game Stoppage' to the game, so once that button is clicked, you don't need to add any more events. Unless there is overtime, which I haven't worked on yet.</p>
	<p>h. If a player does a stat-worthy action, click the corresponding action in the list under their name. You'll notice that there is a very limited selection under each player. So it goes. If you want options added (especially for beater), let me know.</p>
	<p>i. A goal will only show up as 'goal' on the sidebar, but when calculating stats, it goes down as a shot and goal. If a player shoots and scores, only record a goal.</p>
	<h5>Events added automatically populate on the side of the video. If your event isn't in that list, then you should try adding it again, because it didn't save.</h5>
	<h5>Clicking on the time in one of the cards to the right of the video jumps to 5 seconds before the timestamp of the event. It's a good way to watch things over again. Unless the event is a sub or a clock stoppage. Nobody needs replays of those, so clicking on the time jumps to the actual time of the event.</h5>
	<a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"/>

<!-- Div for picking subs, starts just not-visible -->
<div id="light" class="white_content">
	<p ng-if="statType == 'SWAP'">Swap keeper with someone on pitch. Or select 'none' if there is no penalty time.</p>
	<a ng-if="statType == 'SWAP'" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">None<br></a>
	<a ng-if="statType != 'SWAP'" href="javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
	<a ng-repeat="allPlayer in allPlayers" ng-click="playerClicked(allPlayer.objectId)" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">{{allPlayer.first_name+' '+allPlayer.last_name}}<br></a>
	<a ng-if="statType == 'SWAP'" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">None<br></a>
	<a ng-if="statType != 'SWAP'" href="javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"/>
